* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(100, 100, 100);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(45, 45, 45);
}

h3 {
    color: #8082c7;
    font-family: 'Raleway', sans-serif;
    margin: 5px 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 300px;
    height: 300px; 
}

body {
    background-color: #f5f8fd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f5f8fd;
}

nav p {
    margin: 0 50px
}

.nav-name {
    color: rgb(0, 0, 0);
    margin: 30px;
    font-size: 1em;
    font-weight: 800;
}

.contact-butt {
    color: rgb(36, 36, 36);
    margin: 50px;
}

.contact-butt:hover {
    color: rgb(100, 100, 100);
}

.hero {
    margin: 50px 0 0 0;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33) inset;
}

    .hero-text {
        margin: 0 0 0 100px;
        width: 900px;
        font-family: 'Montserrat', 'sans-serif';
    }

    .hero-text h1 {
        font-weight: 800;
        font-size: 3em;
    }

    .hero-text p {
        margin: 5px;
        font-size: 1.3em;
    }

    .pfp {
        margin: auto;
        height: 680px;
        width: auto;
    }


.main-body {
    width: 100vw;
    height: 50vh;
    margin: 50px 100px 25px 100px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: center;
    align-items: center;
}

.bg {
    margin: auto;
    grid-column: span 4;
}

.traits {
    grid-column: span 4;
    margin: auto;
}


/* .skills {
     background-color: rgb(75, 66, 97);
     width: 100vw;
    height: 30vh;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around ;
    align-items: center;
} */

.skills h3 {
    grid-column: span 3;
} */

.contacts {
    height: 30px;
    width: 100%;
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    .contacts p {
        width: 200px;
        color: #959595;
        font-size: 1em;
    }


/* Contact page */

.contact-nav {
    position: relative;
}