* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(100, 100, 100);
}

h1, h3 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(45, 45, 45);
}

h2 {
    color: #8082c7;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

h4 {
    margin: 0 0 5px 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 300px;
    height: 300px; 
}

body {
    background-color: #f5f8fd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #f5f8fd;
}

nav p {
    margin: 0 50px
}

footer {
    margin-top: 50px;
    background-color: rgb(64, 64, 64);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

th, td {
    text-align: left;
    width: 15em;
    padding: 5px;
}

th {
    border: none;
}

td {
    border-top: 1px solid;
}

.nav-name {
    color: rgb(0, 0, 0);
    margin: 30px;
    font-size: 1em;
    font-weight: 800;
}

.contact-butt {
    color: rgb(36, 36, 36);
    margin: 50px;
}

.contact-butt:hover {
    color: rgb(100, 100, 100);
}

.hero {
    margin: 50px 0 0 0;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.33) inset;
}

    .hero-text {
        margin: 0 0 0 100px;
        width: 900px;
        font-family: 'Montserrat', 'sans-serif';
    }

    .hero-text h1 {
        font-weight: 800;
        font-size: 3em;
    }

    .hero-text p {
        margin: 5px;
        font-size: 1.3em;
    }

    .pfp {
        margin: auto;
        height: 680px;
        width: auto;
    }


.main-body {
    width: 100vw;
    height: auto;
    margin: 50px 100px 25px 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: start;
}

#bg-head {
    grid-row: 1;
    grid-column: span 2;
    margin: 0 50px 0 0;
}

.bg {
    grid-row: 2;
    grid-column: span 2;
    width: 50vw;
    max-width: 60vw;
    margin: 0 50px 0 0;
}

#traits-head {
    grid-row: 1;
    grid-column: span 2;
    grid-column-start: 3;
    margin: 0 0 0 50px;
}

.traits {
    width: 30vw;
    height: 100%;
    grid-row: 2;
    grid-column: 3 / span 2;;
    margin: 0 0 0 50px;
}

#skills-head {
    margin-top: 50px;
    grid-row: 4;
    grid-column: 1;
}

.skills {
    width: 100%;
    margin: 0 0 100px 0;
    grid-row: 4;
    grid-column: 3 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: start; 
    gap: 2em;
    margin: 50px auto 0 auto;
}

.skills p {
    margin: 10px;
}

#educ-head {
    margin-top: 100px;
    grid-row: 5;
    grid-column: 1;
}

.educ {
    width: 100%;
    grid-row: 5;
    grid-column:  3 / span 2;
    display: flex;
    flex-direction: column;
    justify-self: center; 
    gap: 2em;
    margin-top: 100px;
}

.educ p, ol {
    margin: 10px;
}

#info-head {
    margin-top: 100px;
    grid-row: 6;
    grid-column: span 4;
}

.add-info {
    margin-top: 15px;
    grid-row: 7;
    grid-column: span 4;
    display: flex;
    justify-content: space-around;
}

.add-info ul {
    margin: 10px;
}

/* footer */
.contacts {
    height: 30px;
    width: 100%;
    background-color: #e4e4e4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

    .contacts p {
        padding: 5px;
        width: 200px;
        color: rgba(64, 64, 64, 0.8);
        font-size: .9em;
    }

.footer-body {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 40vw 60vw;
}

.char-rfs {
    margin: 15px auto 30px auto;
    padding: 15px;
    grid-column: span 2;
    border-right: 3px solid rgba(149, 149, 149, 0.8);
}

.char-rfs h2 {
    color:rgb(149, 149, 149);
    font-size: 1em;
}

.char-rfs td, th {
    font-size: .8em;
    color:rgb(149, 149, 149);
}

/* Contact page */

.contact-nav {
    position: relative;
}

